*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Saira', sans-serif;
}

nav{
    height: 90px;
    width: 100%;
    background-color: rgba(20, 19, 19, 0.945);
    opacity: 200;
}
nav ul{
    float:right;
    margin-right: 30px;
}
nav li{
    display:inline-block;
    line-height: 90px;
    margin: 0 16px;
}
nav a{
    color:white;
    text-transform: uppercase;
    border: 2px transparent solid;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 20px;
}
label.NazwaStrony{
    font-size: 45px;
    color: white;
    padding: 30px, 150px;
    line-height: 90px;
    margin: 16px;
}
nav a.Wybrany{
    border: 1px solid rgb(255, 153, 0);
}

main{
    background-color: black;
    background-image: url(Zdjecia/background-photo.jpeg);
    background-size: cover;
    height: 60vw;
    background-repeat: no-repeat;
    background-position: center center;
}
.Opis{
    color: white;
    border: 3px solid black;
    background-image: linear-gradient(rgba(34, 33, 33, 1), rgba(0, 0, 0, 0.5)), url("Zdjecia/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    width: 80%;
    height:0;
    padding-top: 50%;
    margin:auto;
    position:relative;
    text-align: left;
    font-size: 20px;

}
.Tytul{
    text-align: center;
    color: rgb(255, 153, 0);
    font-size: 30px;
}
.Tekst{
    position:absolute;
    top:8px;
    left: 16px;
}
.Bronie{
    position:absolute;
    top:8px;
    left:16px;
}
.Zrodlo{
    position:absolute;
    bottom: 8px;
    left: 16px;
}
.myName{
    color:rgb(255, 153, 0);
    font-size: 16px;
}
footer{
    text-align: center;
    background-color:rgba(20, 19, 19, 0.945)
}
.licznik1{
    text-align:center;
    color:white;
}
.licznik{
    color:rgb(255, 153, 0);
}
.Bron img{
    width: 400px;
    height: 200px;
}
.Bron{
    border: 1px solid white;
    text-align: center;
}
.Umiejetnosc{
    border: 1px solid white;
    text-align: center;
    width: 600px;
}

.Umiejetnosc img{
    width: 400px;
    height: 200px;
}
.Statystyki{
    text-align: left;
    font-size: 30px;
}
.Statystyki img{
    width: 40px;
    height: 40px;
}
.Nazwa{
    font-size: 50px;
}
.Bronie{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.guzik{
    background-color:rgba(20, 19, 19, 0.945) ;
    border:2px solid rgb(255, 153, 0);
    color: white;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    padding: 10px 24px;
}
.guzik:hover{
    background-color:rgb(255, 153, 0) ;
    border:2px solid rgb(255, 153, 0);
    color: white;
    text-align: center;
    display: inline-block;
    padding: 10px 24px;
}